<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.resume.mapper.COrderMapper">
  <resultMap id="BaseResultMap" type="com.mike.resume.entity.COrder">
    <id column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="amount_actual" jdbcType="DECIMAL" property="amountActual" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="detail_count" jdbcType="INTEGER" property="detailCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="has_pay" jdbcType="BIT" property="hasPay" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    order_no, open_id, create_time, pay_time, amount_actual, amount, detail_count, status, 
    has_pay, remark, del_flag
  </sql>
  <sql id="condition">
    <where>
      <if test="orderNo != null">
        and order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="openId != null">
        and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="amountActual != null">
        and amount_actual = #{amountActual,jdbcType=DECIMAL}
      </if>
      <if test="amount != null">
        and amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="detailCount != null">
        and detail_count = #{detailCount,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="hasPay != null">
        and has_pay = #{hasPay,jdbcType=BIT}
      </if>
      <if test="remark != null">
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=BIT}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_order
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from c_order
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mike.resume.entity.COrder" useGeneratedKeys="true" keyProperty="orderNo">
    insert into c_order (order_no, open_id, create_time, 
      pay_time, amount_actual, amount, 
      detail_count, status, has_pay, 
      remark, del_flag)
    values (#{orderNo,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{payTime,jdbcType=TIMESTAMP}, #{amountActual,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{detailCount,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{hasPay,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mike.resume.entity.COrder" useGeneratedKeys="true" keyProperty="orderNo">
    insert into c_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="amountActual != null">
        amount_actual,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="detailCount != null">
        detail_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="hasPay != null">
        has_pay,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountActual != null">
        #{amountActual,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="detailCount != null">
        #{detailCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="hasPay != null">
        #{hasPay,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mike.resume.entity.COrder">
    update c_order
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountActual != null">
        amount_actual = #{amountActual,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="detailCount != null">
        detail_count = #{detailCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="hasPay != null">
        has_pay = #{hasPay,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mike.resume.entity.COrder">
    update c_order
    set open_id = #{openId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      amount_actual = #{amountActual,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      detail_count = #{detailCount,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      has_pay = #{hasPay,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT}
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
</mapper>