<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.resume.mapper.CProductSizeMapper">
    <resultMap id="BaseResultMap" type="com.mike.resume.entity.CProductSize">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="c_product_id" jdbcType="INTEGER" property="cProductId"/>
        <result column="size_name" jdbcType="VARCHAR" property="sizeName"/>
        <result column="inventory_count" jdbcType="INTEGER" property="inventoryCount"/>

    </resultMap>
    <sql id="Base_Column_List">
    id, c_product_id, size_name,inventory_count
  </sql>
    <sql id="condition">
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="cProductId != null">
            and c_product_id = #{cProductId,jdbcType=INTEGER}
        </if>
        <if test="sizeName != null">
            and size_name = #{sizeName,jdbcType=VARCHAR}
        </if>
        <if test="inventoryCount != null">
            and inventory_count = #{inventoryCount,jdbcType=INTEGER}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_product_size
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByCProuctId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_product_size
        where c_product_id = #{cProductId,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_product_size
        where 1=1
        <include refid="condition"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_product_size
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.mike.resume.entity.CProductSize" useGeneratedKeys="true" keyProperty="id">
    insert into c_product_size (id, c_product_id, size_name,inventory_count
      )
    values (#{id,jdbcType=INTEGER}, #{cProductId,jdbcType=INTEGER}, #{sizeName,jdbcType=VARCHAR},#{inventoryCount,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.mike.resume.entity.CProductSize" useGeneratedKeys="true"
            keyProperty="id">
        insert into c_product_size
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cProductId != null">
                c_product_id,
            </if>
            <if test="sizeName != null">
                size_name,
            </if>
            <if test="inventoryCount != null">
                inventory_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cProductId != null">
                #{cProductId,jdbcType=INTEGER},
            </if>
            <if test="sizeName != null">
                #{sizeName,jdbcType=VARCHAR},
            </if>
            <if test="inventoryCount != null">
                #{inventoryCount,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mike.resume.entity.CProductSize">
        update c_product_size
        <set>
            <if test="cProductId != null">
                c_product_id = #{cProductId,jdbcType=INTEGER},
            </if>
            <if test="sizeName != null">
                size_name = #{sizeName,jdbcType=VARCHAR},
            </if>
            <if test="inventoryCount != null">
                inventory_count = #{inventoryCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mike.resume.entity.CProductSize">
    update c_product_size
    set c_product_id = #{cProductId,jdbcType=INTEGER},
      size_name = #{sizeName,jdbcType=VARCHAR},
      inventory_count =  #{inventoryCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>