<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.resume.mapper.CProductTasteMapper">
  <resultMap id="BaseResultMap" type="com.mike.resume.entity.CProductTaste">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_product_id" jdbcType="INTEGER" property="cProductId" />
    <result column="taste_name" jdbcType="VARCHAR" property="tasteName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, c_product_id, taste_name
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="cProductId != null">
        and c_product_id = #{cProductId,jdbcType=INTEGER}
      </if>
      <if test="tasteName != null">
        and taste_name = #{tasteName,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_product_taste
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCProuctId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from c_product_taste
    where c_product_id = #{cProductId,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from c_product_taste
    where 1=1
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_product_taste
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mike.resume.entity.CProductTaste" useGeneratedKeys="true" keyProperty="id">
    insert into c_product_taste (id, c_product_id, taste_name
      )
    values (#{id,jdbcType=INTEGER}, #{cProductId,jdbcType=INTEGER}, #{tasteName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mike.resume.entity.CProductTaste" useGeneratedKeys="true" keyProperty="id">
    insert into c_product_taste
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cProductId != null">
        c_product_id,
      </if>
      <if test="tasteName != null">
        taste_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cProductId != null">
        #{cProductId,jdbcType=INTEGER},
      </if>
      <if test="tasteName != null">
        #{tasteName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mike.resume.entity.CProductTaste">
    update c_product_taste
    <set>
      <if test="cProductId != null">
        c_product_id = #{cProductId,jdbcType=INTEGER},
      </if>
      <if test="tasteName != null">
        taste_name = #{tasteName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mike.resume.entity.CProductTaste">
    update c_product_taste
    set c_product_id = #{cProductId,jdbcType=INTEGER},
      taste_name = #{tasteName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>