<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.resume.mapper.SUserAddressMapper">
    <resultMap id="BaseResultMap" type="com.mike.resume.entity.SUserAddress">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="postcode" jdbcType="VARCHAR" property="postcode"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, open_id, name,area, address, telephone, postcode
  </sql>
    <sql id="condition">
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="openId != null">
            and open_id = #{openId,jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="area != null">
            and area = #{area,jdbcType=VARCHAR}
        </if>
        <if test="address != null">
            and address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="telephone != null">
            and telephone = #{telephone,jdbcType=VARCHAR}
        </if>
        <if test="postcode != null">
            and postcode = #{postcode,jdbcType=VARCHAR}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_user_address
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_user_address
        where open_id = #{openId,jdbcType=VARCHAR}
    </select>
    <select id="selectSelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_user_address
        where 1=1
        <include refid="condition"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.mike.resume.entity.SUserAddress" useGeneratedKeys="true" keyProperty="id">
    insert into s_user_address (id, open_id, name,area
      address, telephone, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.mike.resume.entity.SUserAddress" useGeneratedKeys="true"
            keyProperty="id">
        insert into s_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="postcode != null">
                postcode,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="postcode != null">
                #{postcode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mike.resume.entity.SUserAddress">
        update s_user_address
        <set>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="postcode != null">
                postcode = #{postcode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mike.resume.entity.SUserAddress">
    update s_user_address
    set open_id = #{openId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
          area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>