<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.OOFO.mapper.OUserMapper">
  <resultMap id="BaseResultMap" type="com.mike.OOFO.entity.OUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="edu_code" jdbcType="VARCHAR" property="eduCode" />
    <result column="idcard_code" jdbcType="VARCHAR" property="idcardCode" />
    <result column="idcard_fon" jdbcType="VARCHAR" property="idcardFon" />
    <result column="idcard_bac" jdbcType="VARCHAR" property="idcardBac" />
    <result column="wechat_code" jdbcType="VARCHAR" property="wechatCode" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="status" jdbcType="TINYINT" property="status" />

    <association property="oUserinfo" column="id"
                 select="com.mike.OOFO.mapper.OUserinfoMapper.selectByUserId" />

    <association property="oUserCon" column="id"
                 select="com.mike.OOFO.mapper.OUserConMapper.selectByUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, del_flag, open_id, name, sex, edu_code, idcard_code, idcard_fon, 
    idcard_bac, wechat_code, phone, profession, company, status
  </sql>
  <sql id="condition">
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="delFlag != null">
      and del_flag = #{delFlag,jdbcType=BIT}
    </if>
    <if test="openId != null">
      and open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
      and sex = #{sex,jdbcType=TINYINT}
    </if>
    <if test="eduCode != null">
      and edu_code = #{eduCode,jdbcType=VARCHAR}
    </if>
    <if test="idcardCode != null">
      and idcard_code = #{idcardCode,jdbcType=VARCHAR}
    </if>
    <if test="idcardFon != null">
      and idcard_fon = #{idcardFon,jdbcType=VARCHAR}
    </if>
    <if test="idcardBac != null">
      and idcard_bac = #{idcardBac,jdbcType=VARCHAR}
    </if>
    <if test="wechatCode != null">
      and wechat_code = #{wechatCode,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="profession != null">
      and profession = #{profession,jdbcType=VARCHAR}
    </if>
    <if test="company != null">
      and company = #{company,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mike.OOFO.entity.OUser">
    insert into o_user (id, create_time, del_flag, 
      open_id, name, sex, 
      edu_code, idcard_code, idcard_fon, 
      idcard_bac, wechat_code, phone, 
      profession, company, status
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}, 
      #{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{eduCode,jdbcType=VARCHAR}, #{idcardCode,jdbcType=VARCHAR}, #{idcardFon,jdbcType=VARCHAR}, 
      #{idcardBac,jdbcType=VARCHAR}, #{wechatCode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mike.OOFO.entity.OUser">
    insert into o_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="eduCode != null">
        edu_code,
      </if>
      <if test="idcardCode != null">
        idcard_code,
      </if>
      <if test="idcardFon != null">
        idcard_fon,
      </if>
      <if test="idcardBac != null">
        idcard_bac,
      </if>
      <if test="wechatCode != null">
        wechat_code,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="eduCode != null">
        #{eduCode,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="idcardFon != null">
        #{idcardFon,jdbcType=VARCHAR},
      </if>
      <if test="idcardBac != null">
        #{idcardBac,jdbcType=VARCHAR},
      </if>
      <if test="wechatCode != null">
        #{wechatCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mike.OOFO.entity.OUser">
    update o_user
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="eduCode != null">
        edu_code = #{eduCode,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        idcard_code = #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="idcardFon != null">
        idcard_fon = #{idcardFon,jdbcType=VARCHAR},
      </if>
      <if test="idcardBac != null">
        idcard_bac = #{idcardBac,jdbcType=VARCHAR},
      </if>
      <if test="wechatCode != null">
        wechat_code = #{wechatCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mike.OOFO.entity.OUser">
    update o_user
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT},
      open_id = #{openId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      edu_code = #{eduCode,jdbcType=VARCHAR},
      idcard_code = #{idcardCode,jdbcType=VARCHAR},
      idcard_fon = #{idcardFon,jdbcType=VARCHAR},
      idcard_bac = #{idcardBac,jdbcType=VARCHAR},
      wechat_code = #{wechatCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from o_user
    where 1=1
    <include refid="condition" />
  </select>
</mapper>